int a=0;

bool banana=false;

int hello(double n){
	int a=a;
	while(a<n){
		int b=a;
		a=a+1;
	}
	return a/n;
}

string str="Foffo";

bool isFoffo(string s){
	if(s=="Foffo"){
		return true;
	}
	else{
		return false;
	}
}

banana=isFoffo(str);

int b=a+3;
hello(3.14)-a*b-30;
