int a;
bool banana=false;

int hello(double n){
	if ( a==b ) {
		a=n;
	}
	else{
		a=3;
	}
	while(a>1){
		a=a-1;
	}
	int i;
	for(i=0;i<10;i=i+1){
		a=a+1;
	}
}

hello(3.14)-a*b-30;
int b=a+3;
banana=a==b;
