int a=0;

bool banana=false;

int hello(double n){
	int x=a;
	while(a<n){
		int b=x;
		x=x+1;
	}
	return x/n;
}

string str="Foffo";

bool isFoffo(string s){
	if(s=="Foffo"){
		return true;
	}
	else{
		return false;
	}
}

banana=isFoffo(str);

int b=a+3;
hello(3.14)-a*b-30;
