int a=to_int(in());
int b=to_int(in());
int c=to_int(in());

int t;

void orderAB(){
	if(a>b){
		t=a;
		a=b;
		b=t;
	}
}

void orderBC(){
	if(b>c){
		t=b;
		b=c;
		c=t;
	}
}

orderAB();
orderBC();
orderAB();

out(a+" "+b+" "+c+"\n");
